@import "./custom-properties.css";
@import "../styles/custom-media.css";

/* CONTACT ----------------*/
.social ul {
  padding: 0;
  margin-bottom: 0;
}

.social li {
  display: inline;
  padding-left: 3px;
  padding-right: 1em;

  @nest & a {
    color: var(--color-accent);
  }

  @nest & a:hover {
    color: lightsteelblue;
  }
}

.cta {
  font-size: 20px;
  grid-column: 1 / span 12;
  margin-bottom: 1em;
}

.cta > button > a {
  font-family: "noort";
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.cta > button {
  border: 2px solid var(--color-accent);
  border-radius: 3px;
  width: calc(50% - .75em);
  height: 36px;
  /* padding: 0.5em; */
}

.cta > button:first-child {
  background-color: var(--color-accent);
  margin-right: 1.5em;

  @nest & a {
    color: white;
  }
}

.cta > button:first-child:hover {
  border-color:lightsteelblue;
  background-color: lightsteelblue;
}

.cta > button:nth-child(2) {
  background-color: white;

  @nest & a {
    color: var(--color-accent);
  }
}

.cta > button:nth-child(2):hover {
  border-color:lightsteelblue;
  background-color: lightsteelblue;

  @nest & a {
    color: white;
  }
}

/* PROJECTS ----------------*/
.projects {
  margin: 100px 0px;
}

.projects h2 {
  font-size: 1em;
  font-variant-caps: all-small-caps;
  letter-spacing: 2px;
}

/* NEW STYLES ----------------*/
.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5em;
  margin-bottom: 2em;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  column-gap: 1.5em;
  grid-column: 1 / 13;
  margin-bottom: 2em;
}

.heroRight {
  grid-column: 1 / 13;
}

.intro-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  font-size: 1.5em;
}

.body {
  column-count: 1;
  column-gap: 1.5em;
  margin-top: 0;
  font-size: 18px;
}

.hero-sub {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1.5em;
  grid-column: 1 / 13;
}

.currently {
  grid-column: 1 / 7;
}

.previously {
  grid-column: 7 / 13;

  @nest & a {
    text-decoration: none;
    color: black;
  }
}

@media (--media-min-medium) {
  .heroLeft {
    column-gap: 1.5em;
    grid-column: 1 / 9;
  }

  .heroRight {
    grid-column: 9 / 13;
  }

  .intro {
    font-size: 1.8em;
  }

  .body {
    font-size: 22px;
  }
  
  .cta {
    font-size: 20px;
    grid-column: 1 / span 8;
    margin-bottom: 2em;
  }

  .currently {
    grid-column: 5 / 9;
  }

  .previously {
    grid-column: 9 / 13;
  }
}

@media (--media-min-large) {
  .cta {
    font-size: 20px;
    grid-column: 1 / span 8;
    margin-bottom: 2em;
  }

  .currently {
    grid-column: 9 / 11;
  }

  .previously {
    grid-column: 11 / 13;
  }
}

@media (min-width: 1400px) {
  .intro {
    font-size: 2.2em;
  }

  .cta {
    font-size: 20px;
    grid-column: 1 / span 4;
    margin-bottom: 2em;
  }
}

@media (--media-min-extralarge) {
  .intro {
    font-size: 2.4em;
  }

  .hero,
  .heroLeft,
  .hero-sub {
    column-gap: 1.5em;
  }
}
