@import '../styles/custom-media.css';

.root {
  box-sizing: border-box;
  max-width: 960px;
  padding: 1em;
  margin: 0;

  @media (--media-min-small) {
    padding: 2em;
  }

  @media (--media-min-medium) {
    margin-left: 5%;
  }

  @media (--media-min-extralarge) {
    max-width: 1100px;
  }
}
